<%= render partial: "layouts/admins_backoffice.html" %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <i class="fa fa-user-circle fa-6x"></i>
        <h2 class="display-8">Usuarios</h2>
        <p class="lead"><%=  @total_users %></p>
      </div>
      <div class="col-sm">
        <i class="fa fa-question-circle fa-6x"></i>
        <h2 class="display-8">Questoes</h2>
        <p class="lead"><%= @total_questions %></p>
      </div>
    </div>
  </div>
</div>
