<!--<div class="row">-->
<!--  <div class="float-right">-->

    <%#= link_to 'Home', root_path, class:"btn btn-outline-primary" %>
<!--    <p><%#= link_to 'Fazer logoff [ADM]', destroy_admin_session_path, method: :delete, class:"btn btn-outline-danger" %></p>-->

<!--  </div>-->
<!--</div>-->
