<h1>Listando Administradores</h1>


<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.id %></td>
      <td><%= admin.email %></td>
      <td>
        <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn btn-outline-primary" do %>
          <i class="fa fa-edit"></i>
        <% end %>

        <button type="button" class="btn btn-outline-danger">&#9940</button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
