<!DOCTYPE html>
<html>
<head>
  <title>TimeToAnswer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  < %= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700' %>
  < %= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

<h1>LAYOUT SITE</h1>
<%= yield %>

    </div>
  </div>
</div>
</body>
</html>
